<div
  *ngIf="currentTheme | async as theme"
  id="app"
  class="mat-app-background"
  [class]="(currentTheme | async) + ''"
  fxLayout="column"
  fxFlexFill
>
  <mat-toolbar color="primary">
    <div>
      <button mat-icon-button (click)="toggleDarkTheme(!isDark)">
        <mat-icon *ngIf="theme.includes('light')">brightness_4</mat-icon>
        <mat-icon *ngIf="theme.includes('dark')">brightness_high</mat-icon>
      </button>
    </div>

    <button mat-button routerLink="/home">Home</button>
    <button mat-button *ngIf="showAdminBoard" routerLink="/admin">
      Admin Board
    </button>
    <button mat-button *ngIf="!isLoggedIn" routerLink="/login">Login</button>
    <button
      mat-button
      *ngIf="!isLoggedIn"
      routerLink="/register"
      [disabled]="true"
    >
      Sign Up
    </button>
    <button mat-button *ngIf="isLoggedIn" (click)="logout()">LogOut</button>
  </mat-toolbar>

  <div class="container" fxFlex>
    <router-outlet></router-outlet>
  </div>
</div>
