<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="default-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar-header-image"></div>
      <mat-card-title>Single Sign On Application</mat-card-title>
      <mat-card-subtitle>Angular</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="assets/images/home-logo.svg"
      alt="Angular responsive framework"
    />
    <mat-card-content>
      <p>{{ content }}</p>
    </mat-card-content>
  </mat-card>
</div>
